* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.images.d-flex {
	gap: 6px;
	flex-wrap: wrap;
	justify-content: center;
}
.poster-container {
	height: 222px;
	width: 153px;
	overflow: hidden;
	line-height: 0;
	position: relative;
}
.poster-container img {
	line-height: 0;
	height: 222px !important;
	width: 153px !important;
	transition: all 0.5s;
	margin: unset !important;
	object-fit: cover;
}
.poster-container:hover img {
	transform: scale(1.1);
}
.shading {
	height: 222px;
	width: 153px;
	background-color: #00000087;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: all 0.5s;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}
.shading p {
	text-align: center;
	color: white;
	font-size: 18px;
	text-transform: capitalize;
}
.poster-container:hover .shading {
	opacity: 1;
	visibility: visible;
}
.filepond--root {
	width: 170px;
	height: 238.5px !important;
}
.filepond--panel-root {
	background-color: #edf0f4;
	width: 170px;
	height: 205px;
}
.filepond--item-panel {
	background-color: #595e68;
}
.filepond--drip-blob {
	background-color: #7f8a9a;
}
.filepond--item {
	width: 140px;
	height: 200px;
}
.filepond--root .filepond--credits[style] {
	display: none;
}